@font-face {
    font-family: Burbank Big Condensed;
    src: url(./font/BurbankBigCondensed-Black.otf);
}

html {
    font-size: 62.5%;
}

/* === CSS RESET === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: rgba(42, 42, 42, 1);
    padding: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.epicgames-logo {
    width: 40px;
    height: 40px;
}

.fivenite-logo {
    width: 80px;
    height: 40px;
}

.bar-btn {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    position: fixed;
    width:100%; 
    top: 75px;
    right: 0px;
    background-color:rgba(42, 42, 42, 1);
    gap:26px;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 600;
    transition: all .2s;
}


.descargar-btn {
    background: rgba(255, 255, 1, 1);
}



.nav-menu li {
    display:none;
    justify-content: center;
    padding: 16px 0 0px 16px;
}

.nav-menu li a {
    color: rgba(204, 204, 204, 1);
}

#check {
    display:none
}

#check:checked ~ .nav-menu{
    height: 59.6vh;
    
}

#check:checked ~ .nav-menu li {
    display:flex;
}


.background-img img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.main-container {
    padding: 0px 16px 0px 16px;
}

.news-1, .news-2, .news-3, img{
    position:static;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.news-1, .news-2, .news-3, h2 {
    font-family: 'Burbank Big Condensed',sans-serif;
    text-align: center;
    margin-top: 16px;
    color: #4DCCFA;
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 600;
}

.news-1, .news-2, .news-3, p {
    font-family: 'Burbank Big Condensed',sans-serif;
    text-align: center;
    margin-top: 8px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #2A2A2A;
}

.news-2, .news-3 {
    margin-top: 120px;
}
